body * {
  box-sizing: border-box;
}
body {
  font-family: 'Arimo', sans-serif;
  height: 100%;
  background-color:#bde1f5;
}
.container {
  width: 890px;
  margin: auto;
  background-color:#a9deff;
  border: 1px solid #9e9e9e;
  padding-bottom: 40px;
  height: 100%;
}

/* search form */

#js-query {
  padding: 8px;
  width: 57%;
  font-size: 16px;
  border-radius: 3px;
  border-style: solid;
  border: 1px solid grey;
}
.js-form-submit {
  padding: 8px;
  font-size: 14px;
}
button {
  background-color: white;
  border-style: solid;
  border-radius: 3px;
}
.js-form label {
  font-size: 18px;
}
.search-area {
  border-bottom: 1px solid #9e9e9e;
  padding-bottom: 15px;
}

/* Results section */

.results {
  list-style: none;
  padding: 0;
}
.results img {
  max-width: 140px;
}
.results .title {
  margin: 5px 0;
  font-weight: 600;
}
.results .channel {
  margin: 0;
}
.results a {
  text-decoration: none;
}
.results li {
  margin-bottom: 5px;
  border: 1px solid #8a8a8a;
  padding: 6px;
  background-color: white;
}
.js-next {
  margin-left: 20px;
}
.page {
  padding: 4px;
  margin-top: 20px;
}
.pages {
  padding-top: 10px;
  display: none;
}
.source {
  margin: 2px;
}

/*video player */

#video-wrapper {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
  margin-top: 75px;
}

#js-video {
  position: absolute;
  top:-80px;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #8a8a8a;
  margin: 72px 0;
  background-color: white;
}